<div class="large-8 columns section">
	<h1>Projects</h1>
</div>

<div class="large-4 columns sidebar_layout">
	<div class="large-12 columns sidebar">
		<p class="todo_placeholder">Click on a Project to see all it's Todos</p>
	</div>
	
	<ul class="large 12 columns todo_wrapper" id="sortable">
	</div>
	
	<div id="delete_project">
	</div>
</div>
