.todos{
	background: #F1F1F1;
	margin: 1em 0em;
	text-align: center;
	padding: 1em 0;	
}

.icon-plus {
	cursor: pointer;
	font-size: 1.2em;
}

.icon_wrapper {
	margin-right: 1em;
	font-size: 1.4em;
	text-align: right;
}

#new_todo {
	display: none;
}
	