<div class="row">
	<div class="large-11 columns">
		<h1>Projects</h1>
	</div>

	<div class="large-1 columns">
		<i class="icon-file"></i>
	</div>
</div>

{{#projects}}
	<div class="project">
		<h3 class="project_name">{{name}}</h3>
		<p>
			client: {{client}}
		</p>
		<p>
			{{description}}
		</p>
	</div>
{{/projects}}
