<div class="project">
	<h3 class="project_name">{{name}}</h3>
	<p>
		client: {{client}}
	</p>
	<p class="description large-10 columns large-centered">
		"{{description}}"
	</p>
	<p class="delete">Delete {{name}}</p>
	
</div>