<div class="row">
	<div class="large-11 columns">
		<h1>New Project</h1>
	</div>

	<div class="large-1 columns">
		<i class="icon-undo"></i>
	</div>
</div>

<form id="new_project_form">
	
		<label for="name">Name</label>
		<input type="text" name="name" id="name_input">
		
		<label for="client">Client</label>
		<input type="text" name="client" id="client_input">
	
		<label for="description">Description</label>
		<textarea name="description" id="description_input"></textarea>

	<button type="submit" id="new_project_button">Create New Project</button>
</form>