<h1 class="todo_header">{{project_name}} Todos</h1>

<div class="icon_wrapper">
	New Todo <i class="icon-plus"></i>
</div>

<div class="drag_tip">drag and drop to sort in order or priority</div>
<div class="drag_tip">double-click a todo to edit it</div>

<form id="new_todo">
	<label for="content">Content</label>
	<input type="text" name="content" id="todo_content">
	<button type="submit" id="new_todo_button">Create New Todo</button>
</form>