<div class="icon_wrapper">
	New Todo <i class="icon-plus"></i>
</div>

<form id="new_todo">
	<label for="content">Content</label>
	<input type="text" name="content" id="todo_content">
	<button type="submit" id="new_todo_button">Create New Todo</button>
</form>
